* {
    margin: 0px;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: rgb(255, 239, 214);
}

.recipe-name {
    margin: 8px auto;
    text-align: center;
}

.recipe-image {
    display: block;
    margin: 8px auto;
}

.recipe-description {
    margin: 8px;
    text-align: center;
}

.main-content {
    padding: 16px;
}

.home-link,
.recipes {
    display: inline-block;
    padding: 8px;
}